<p>
	<label>First Name: </label><%= @person.firstname %><br>
	<label>Lasr Name: </label><%= @person.lastname %><br>
	<label>Age: </label><%= @person.age %><br>
	<label>Description: </label><%= @person.description %><br>
</p>