<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<div class="navbar">
		<div class="navbar-header">
			<a href="/register_login/index" class="navbar-header-link">Task</a>
		</div>
	</div><br>
	<div class="register" style="margin-top: 58px;">
		<center><h1>Login</h1></center>
		<form method="post" action="/login/user_authentication">
			<input type="email" class="custom-input-field-css" autofocus placeholder="Email" name="email_log" required></input>
			<input type="password" class="custom-input-field-css" placeholder="Password" name="password_log" required></input>
			<input type="submit" class="custom-button" value="Login"></input>
		</form>
	</div>
</body>
</html>